<!DOCTYPE html>
<html lang="en">
<head>
<title>Feed Finder</title>
<script src="/static/jquery.js" type="text/javascript"></script>
<script src="/static/backbone/test/vendor/json2.js" type="text/javascript"></script>
<script src="/static/backbone/test/vendor/underscore.js" type="text/javascript"></script>
<script src="/static/backbone/backbone.js" type="text/javascript"></script>
<link href="/static/styles/layout.css" rel="stylesheet" type="text/css" />
</head>
<body id="top">
<div class="wrapper col2">
  <div id="topbar">
    <div id="topnav">
      <ul>
        <li><a href="/home" href="javascript:void(0)">Home</a></li>
        <li><a href="/search" href="javascript:void(0)">Search</a></li>
        <li class="active"><a href="/about" href="javascript:void(0)">About Us</a></li>
      </ul>
    </div>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col3">
  <div id="breadcrumb">
    <h1>Meet the Team</h1>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col4">
  <div id="container">
    <div id="content">
      <div class="cleaner h30"></div>
			<div class="about_box">
				<img src="/static/images/pics/1.jpg" style="border-style: outset; border-color: white" alt="User 01" />
				<h4>Irene Bandilla</h4>
				<p class="position">Lucena, Quezon</p>
				<p>Nickname: <a href="#">Ai</a> </p>
                <p>Birthday: <a href="#">July 3</a></p>
				<div class="cleaner"></div>
			</div>
			<div class="about_box">
				<img src="/static/images/pics/2.jpg" style="border-style: outset; border-color: white" alt="User 02" />
				<h4>Raymart Libiran</h4>
				<p class="position">Pandi, Bulacan</p>
				<p>Nickname: <a href="#">Mac-mac</a> </p>
                <p>Birthday: <a href="#">April 7</a></p>
				<div class="cleaner"></div>
			</div>
			<div class="about_box">
				<img src="/static/images/pics/3.jpg" style="border-style: outset; border-color: white" alt="User 02" />
				<h4>Debriza Loon</h4>
				<p class="position">Iba, Zambales</p>
				<p>Nickname: <a href="#">Deb</a> </p>
                <p>Birthday: <a href="#">March 24</a></p>
				<div class="cleaner"></div>
			</div>
			<div class="about_box">
				<img src="/static/images/pics/4.jpg" style="border-style: outset; border-color: white" alt="User 02" />
				<h4>Joane Macalindol</h4>
				<p class="position">Socorro, Oriental Mindoro</p>
				<p>Nickname: <a href="#">Katkath</a> </p>
                <p>Birthday: <a href="#">June 4</a></p>
				<div class="cleaner"></div>
			</div>      
    </div>
    <div id="column">
      <div class="subnav">
        <h2>Add them on Facebook</h2>
        <ul>
			<li><a href="http://www.facebook.com/theAicon">Irene Bandilla</a></li>
			<li><a href="http://www.facebook.com/raymart.libiran">Raymart Libiran</a></li>
			<li><a href="http://www.facebook.com/debriza.loon">Debriza Loon</a></li>
			<li><a href="http://www.facebook.com/katkath">Joane Macalindol</a></li>
        </ul>
      </div>
      <div class="holder">
        <h2>Bible Verses</h2>
        <div><a href="#">Deuteronomy 31:6 </a></div>
		<div>"Be strong and courageous. Do not fear or be in dread of them, for it is the LORD your God who goes with you. He will not leave you or forsake you."</div><br />
		<div><a href="#">Psalm 27:1</a></div>
		<div>"The LORD is my light and my salvation; whom shall I fear? The LORD is the stronghold of my life of whom shall I be afraid?"</div><br />
		<div><a href="#">Isaiah 40:28-31 </a></div>
		<div>"Do you not know? Have you not heard? The Lord is the everlasting God, the Creator of the ends of the earth. He will not grow tired or weary, and his understanding no one can fathom.
				He gives strength to the weary and increases the power of the weak. Even youths grow tired and weary, and young men stumble and fall; but those who hope in the Lord will renew their strength.
				They will soar on wings like eagles; they will run and not grow weary, they will walk and not be faint."</div>
        <p class="readmore"><a href="https://www.google.com.ph/#hl=fil&output=search&sclient=psy-ab&q=bible+verses&oq=bible+&gs_l=hp.3.0.0l4.1784.2907.0.4653.6.5.0.1.1.0.732.2203.2-2j1j0j1j1.5.0...0.0...1c.1.79j54a4R6j8&pbx=1&bav=on.2,or.r_gc.r_pw.r_qf.&fp=2e06f1fa54b888ec&bpcl=35277026&biw=1360&bih=705">More verses &raquo;</a></p>
      </div>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col6">
  <div id="copyright">
    <p class="fl_left">Feed Finder &copy; 2012 </p>
    <p class="fl_right">Bandilla, Libiran, Loon, Macalindol | BSCoE V-5</p>
    <br class="clear" />
  </div>
</div>
	<script src="/static/app.js" type="text/javascript"></script>
</body>
</html>