<!DOCTYPE html>
<html lang="en">
<head>
<title>Feed Finder</title>
<script src="/static/jquery.js" type="text/javascript"></script>
<script src="/static/backbone/test/vendor/json2.js" type="text/javascript"></script>
<script src="/static/backbone/test/vendor/underscore.js" type="text/javascript"></script>
<script src="/static/backbone/backbone.js" type="text/javascript"></script>
<script src="/static/scripts/jquery-1.4.1.min.js"type="text/javascript"></script>
<script src="/static/scripts/jquery.waterwheelCarousel.js" type="text/javascript"></script>
<script src="/static/scripts/jquery.waterwheelCarousel.setup.js" type="text/javascript"></script>
<link href="/static/styles/layout.css" rel="stylesheet" type="text/css" />
</head>
<body id="top">
<div class="wrapper col2">
  <div id="topbar">
    <div id="topnav">
      <ul>
        <li class="active"><a href="/home" href="javascript:void(0)">Home</a></li>
        <li><a href="/search" href="javascript:void(0)">Search</a></li>
        <li><a href="/about" href="javascript:void(0)">About Us</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col3">
  <div id="waterwheelCarousel">
    <img src="/static/images/waterwheelCarousel/1.png" alt="" />
    <img src="/static/images/waterwheelCarousel/2.jpg" alt="" />
    <img src="/static/images/waterwheelCarousel/3.png" alt="" />
    <img src="/static/images/waterwheelCarousel/4.png" alt="" />
    <img src="/static/images/waterwheelCarousel/5.jpg" alt="" />
    <img src="/static/images/waterwheelCarousel/6.jpg" alt="" />
    <img src="/static/images/waterwheelCarousel/7.png" alt="" />
    <img src="/static/images/waterwheelCarousel/8.jpg" alt="" />
    <img src="/static/images/waterwheelCarousel/9.jpg" alt="" />
    <img src="/static/images/waterwheelCarousel/10.jpg" alt="" />
    <img src="/static/images/waterwheelCarousel/11.jpg" alt="" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col4">
  <div id="featured_intro">
    <div class="fl_left">
      <h2>Feed Finder</h2>
    </div>
    <div class="fl_right">
      <h2>Twitter</h2>
      <p>Twitter is an online social networking service and microblogging service that enables its users to send and read text-based messages of up to 140 characters, known as "tweets".</p>
      <h2>Facebook</h2>
	  <p>Facebook is a social networking service launched in February 2004, owned and operated by Facebook, Inc. As of September 2012, Facebook has over one billion active users, more 
	  than half of them using Facebook on a mobile device.</p>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col6">
  <div id="copyright">
    <p class="fl_left">Feed Finder &copy; 2012 </p>
    <p class="fl_right">Bandilla, Libiran, Loon, Macalindol | BSCoE V-5</p>
    <br class="clear" />
  </div>
</div>
</body>
</html>
