form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}
input, textarea, select{font-size:12px; font-family:Georgia, "Times New Roman", Times, serif;}

/* ----------------------------------------------Search Form-------------------------------------*/

#topbar input{
	display:block;
	float:left;
	width:155px;
	margin:0 5px 0 0;
	padding:5px;
	color:gray;
	background-color:white;
	border:1px solid blue;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	}

#topbar input#go{
	width:68px;
	height:26px;
	margin:0;
	padding:4px 0;
	text-transform:uppercase;
	color:#FFFFFF;
	background-color:#0099FF;
	cursor:pointer;
	font-weight:bold;
	}