@import url(navi.css);
@import url(forms.css);
@import url(tables.css);
@import url(featured_slide.css);

body{
	margin:0;
	padding:0;
	font-size:13px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#999999;
	background-color:#151515;
	}

img{display:block; margin:0; padding:0; border:none;}
.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart{list-style-type:none; margin:0; padding:0;}
.clear{clear:both;}
br.clear{clear:both; margin-top:-15px;}

a{outline:none; text-decoration:none;}

.fl_left{float:left;}
.fl_right{float:right;}

.imgl, .imgr{border:1px solid #C7C5C8; padding:5px;}
.imgl{float:left; margin:0 8px 8px 0; clear:left;}
.imgr{float:right; margin:0 0 8px 8px; clear:right;}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{
	display:block;
	width:100%;
	margin:0;
	text-align:left;
	}

div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{
	margin:0 0 15px 0;
	padding:0;
	font-size:20px;
	font-weight:normal;
	line-height:normal;
	}

.col1, .col1 a{color:#666666; background-color:#000000;}
.col2{color:#FFFFFF; background-color:#003366;}
.col3{color:#999999; background-color:#151515; padding:20px 0;}
.col3 a{color:#4747FF; background-color:#151515;}
.col4{color:#999999; background-color:#151515;}
.col4 a{color:#FF6600; background-color:#151515;}
.col5{color:#CCCCCC; background-color:#1D1D1D; border-top:1px dotted #E7BCE2; border-bottom:1px dotted #E7BCE2;}
.col5 a{color:#4747FF; background-color:#1D1D1D;}
.col6, .col6 a{color:#666666; background-color:#151515;}

/* ----------------------------------------------Generalise-------------------------------------*/

#header, #topbar, #breadcrumb, #featured_intro, #container, #footer, #copyright{
	position:relative;
	margin:0 auto 0;
	display:block;
	width:960px;
	}

/* ----------------------------------------------Header-------------------------------------*/

#header{
	padding:2px 0 20px 0;
	}

#header .fl_left{
	display:block;
	float:left;
	margin-top:17px;
	overflow:hidden;
	}

#header .fl_right{
	display:block;
	float:right;
	width:468px;
	height:60px;
	margin-top:21px;
	overflow:hidden;
	}

#header h1, #header p, #header ul{
	margin:0;
	padding:0;
	list-style:none;
	line-height:normal;
	}

#header h1 a{
	font-size:36px;
	color:#E60498;
	background-color:#000000;
	}

#header .fl_left p{
	margin-top:5px;
	}

/* ----------------------------------------------Topbar-------------------------------------*/

#topbar{
	padding:0;
	z-index:1000;
	}

#topbar #search{
	display:block;
	float:right;
	width:400px;
	margin:10px 0 0 0;
	padding:0;
	}

/* ----------------------------------------------BreadCrumb-------------------------------------*/

#breadcrumb{
	padding:0 0 10px 0;
	border-bottom:1px dotted #85B6FF;
	}

#breadcrumb ul{
	margin:0;
	padding:0;
	list-style:none;
	}

#breadcrumb ul li{display:inline;}
#breadcrumb ul li.current a{text-decoration:underline;}

/* ----------------------------------------------Homepage Featured Intro-------------------------------------*/

#featured_intro{
	padding:0 0 20px 0;
	}

#featured_intro .fl_left{
	display:block;
	float:left;
	width:470px;
	}
	
#featured_intro .fl_left h2{
	margin:0;
	padding:0;
	font-size:120px;
	color:#585858;
	background-color:#151515;
	text-transform:uppercase;
	line-height:normal;
	}

#featured_intro .fl_right{
	display:block;
	float:right;
	width:450px;
	padding-top:65px;
	text-align:justify;
	line-height:1.5em;
	}

#featured_intro .fl_right .readmore{
	display:block;
	text-align:right;
	font-weight:bold;
	}

/* ----------------------------------------------Content-------------------------------------*/

#container{
	padding:20px 0;
	}

#content{
	display:block;
	float:left;
	width:600px;
	}

/* ------Comments-----*/

#comments{margin-bottom:40px;}

#comments .commentlist {margin:0; padding:0;}

#comments .commentlist ul{margin:0; padding:0; list-style:none;}

#comments .commentlist li.comment_odd, #comments .commentlist li.comment_even{margin:0 0 10px 0; padding:15px; list-style:none;}

#comments .commentlist li.comment_odd{color:#CCCCCC; background-color:#333333;}
#comments .commentlist li.comment_odd a{color:#E7BCE2; background-color:#333333;}

#comments .commentlist li.comment_even{color:#CCCCCC; background-color:#1E1E1E;}
#comments .commentlist li.comment_even a{color:#E7BCE2; background-color:#1E1E1E;}

#comments .commentlist .author .name{font-weight:bold;}
#comments .commentlist .submitdate{font-size:smaller;}

#comments .commentlist p{margin:10px 5px 10px 0; padding:0; font-weight: normal;text-transform: none;}

#comments .commentlist li .avatar{float:right; border:1px solid #EEEEEE; margin:0 0 0 10px;}

/* ----------------------------------------------Column-------------------------------------*/

#column{
	display:block;
	float:right;
	width:300px;
	}

#column .holder{
	display:block;
	width:260px;
	margin-bottom:20px;
	padding-left:10px;
	}

#column .holder, #column #featured{
	display:block;
	width:300px;
	margin-bottom:20px;
	}

#column .holder p{
	line-height:1.6em;
	}

#column h2{
	font-size:20px;
	}

#column .holder h2.title{
	display:block;
	width:100%;
	height:65px;
	margin:0;
	padding:15px 0 0 0;
	font-size:20px;
	line-height:normal;
	border-bottom:1px dashed #666666;
	}

#column .holder h2.title img{
	float:left;
	margin:-15px 8px 0 0;
	padding:5px;
	border:1px solid #666666;
	}

#column .holder p.readmore{
	display:block;
	width:100%;
	font-weight:bold;
	text-align:right;
	line-height:normal;
	}

#column div.imgholder{
	display:block;
	width:290px;
	margin:0 0 10px 0;
	padding:4px;
	border:1px solid #666666;
	}
	
/* Featured Block */

#column #featured a{
	color:#33ADFF;
	background-color:#1F1F1F;
	}

#column #featured ul, #column #featured h2, #column #featured p{
	margin:0;
	padding:0;
	list-style:none;
	}

#column #featured li{
	display:block;
	width:250px;
	margin:0;
	padding:20px 25px;
	color:#666666;
	background-color:#1F1F1F;
	}

#column #featured li p{
	line-height:1.6em;
	}

#column #featured li p.imgholder{
	display:block;
	width:240px;
	height:90px;
	margin:20px 0 15px 0;
	padding:4px;
	color:#666666;
	background-color:#333333;
	border:1px solid #666666;
	}

#column #featured li h2{
	margin:0;
	padding:0 0 14px 0;
	font-size:20px;
	font-weight:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#666666;
	background-color:#1F1F1F;
	line-height:normal;
	border-bottom:1px dashed #666666;
	}

#column #featured p.readmore{
	display:block;
	width:100%;
	margin-top:15px;
	font-weight:bold;
	text-align:right;
	line-height:normal;
	}

#column #latestnews{
	display:block;
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
	}

#column #latestnews li{
	display:block;
	margin:0 0 20px 0;
	padding:0 0 15px 0;
	border-bottom:1px dotted #999999;
	}

#column #latestnews li.last{
	margin-bottom:0;
	}

#column #latestnews p{
	margin:0 0 5px 0;
	padding:0;
	}

#column #latestnews p.readmore{
	margin:0;
	padding:0;
	}

#column #latestnews .imgl{
	margin:0 10px 10px 0;
	padding:4px;
	}

/* ----------------------------------------------Footer-------------------------------------*/

#footer{
	padding:20px 0;
	}

#footer h2, #footer p, #footer ul, #footer a{
	margin:0;
	padding:0;
	font-weight:normal;
	list-style:none;
	line-height:normal;
	}

#footer p{
	line-height:1.6em;
	}

#footer h2{
	padding:0 0 5px 0;
	color:#585858;
	background-color:#1D1D1D;
	border-bottom:1px dotted #585858;
	font-size:16px;
	font-weight:bold;
	margin-bottom:20px;
	}

#footer li{
	margin-bottom:15px;
	}

#footer .footbox{
	display:block;
	float:left;
	width:210px;
	margin:0 40px 0 0;
	padding:0;
	}

#footer .flickr li{
	display:block;
	float:left;
	width:80px;
	height:80px;
	margin:0 7px 15px 7px;
	padding:4px;
	border:1px solid #E7BCE2;
	}

#footer .banners li{
	display:block;
	width:200px;
	height:150px;
	margin:0 0 15px 0;
	padding:4px;
	border:1px solid #E7BCE2;
	}

#footer .last{
	margin:0;
	}
	
.about_box { clear: both; margin-bottom: 40px; padding: 20px 0 20px 0}
.about_box img { float: left; margin-right: 40px }
.about_box h4 { font-size: 14px; font-weight: bold; font-style: italic; margin-bottom: 0px }
p.position { color: #f3a706; font-weight: bold; font-size: 12px; font-style: italic; margin-bottom: 10px }

/* ----------------------------------------------Copyright-------------------------------------*/

#copyright{
	padding:15px 0;
	}

#copyright p{
	margin:0;
	padding:0;
	}

#results { padding:35px 0; padding-bottom:250px; }
	#results DIV.title { font-weight:bold; font-size:15px; }
	#results UL#tweets { position:relative; margin-left:-5px; }
		#results UL#tweets LI { overflow:hidden; margin-bottom:10px; padding:5px 0 5px 5px; }
		#results UL#tweets LI:hover { background:url(images/bg.gif); }
			#results UL#tweets LI DIV.profile-pic { float:left; border:1px solid #e5e5e1; margin-right:8px; position:relative; }
				#results UL#tweets LI DIV.profile-pic IMG { display:block; margin:1px;width:48px;height:48px; }
			#results UL#tweets LI DIV.tweet-body { overflow:hidden; }
				#results UL#tweets LI DIV.tweet-body DIV.twitter-name { font-weight:bold; color:#0066cc; font-size:13px; margin-top:2px; }
				#results UL#tweets LI DIV.tweet-body DIV.twitter-name a {font-weight:bold; color:#0066cc; font-size:13px;text-decoration:none;}
					#results UL#tweets LI DIV.tweet-body DIV.twitter-name SPAN { font-weight:normal; color:#8d8d8d; margin-bottom:5px; }
				#results UL#tweets LI DIV.tweet-body DIV.tweet { color:#2f2f2f; font-size:13px; margin-bottom:7px; }
				#results UL#tweets LI DIV.tweet-body DIV.tweet a {color:#2f2f2f;text-decoration:underline}
#results UL#tweets LI DIV.tweet-body DIV.actions { font-size:11px; }
					#results UL#tweets LI DIV.tweet-body DIV.actions A { display:inline-block; color:#8d8d8d; text-decoration:none; }
					#results UL#tweets LI DIV.tweet-body DIV.actions A:hover { opacity:.8; }
					#results UL#tweets LI DIV.tweet-body DIV.actions SPAN.icon { display:inline-block; vertical-align:top; margin-right:3px; }
					#results UL#tweets LI DIV.tweet-body DIV.actions SPAN.icon.tweet-icon { background:url(../images/png.png) 0 -396px; width:16px; height:12px; }
					#results UL#tweets LI DIV.tweet-body DIV.actions SPAN.icon.reply-icon { background:url(../images/png.png) -26px -396px; width:11px; height:12px; }
					#results UL#tweets LI DIV.tweet-body DIV.actions SPAN.icon.retweet-icon { background:url(../images/png.png) -46px -396px; width:14px; height:8px; margin-top:2px; }
					#results UL#tweets LI DIV.tweet-body DIV.actions SPAN.icon.favorite-icon { background:url(../images/png.png) -70px -396px; width:15px; height:15px; position:relative; margin-top:-2px; }					
					
					#loader { padding-top:50px; }
						#loader DIV.more-button { width:140px; height:44px; background:url(../images/png.png) 0 -421px; color:#434342; font-size:15px; line-height:40px; cursor:pointer; display:inline-block; }
							#loader DIV.more-button:hover { background:url(../images/png.png) -152px -421px; }
						#loader IMG { vertical-align:top; position:relative; margin-top:-10px; margin-right:6px; }